html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

nav ol li, li a {
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
}

a {
    color: #8f2440;
}

a:hover {
  color: #3f1622;
}

img {
  align-items: center;
}

main figure figcaption i {
  align-items: center;
}
